/Register/nbproject/private/
/Register/build/
/FanDemo/nbproject/private/
/FanDemo/build/
/GeometricObject/nbproject/private/
/GeometricObject/build/
/Account/nbproject/private/
/Account/build/
/SumOfFiveNumbers/nbproject/private/
/SumOfFiveNumbers/build/
/RemoveDupInt/nbproject/private/
/RemoveDupInt/build/
/week4lect/nbproject/private/
/week4lect/build/
/NumericCasting/nbproject/private/
/NumericCasting/build/
/UPcastDOWNcast/nbproject/private/
/UPcastDOWNcast/build/
/Generics/nbproject/private/
/Wildcards/nbproject/private/
/Wildcards/build/
/RemoveDupInt/dist/
/SmallestInMatrix/nbproject/private/
/SmallestInMatrix/build/
/AddMatrices/nbproject/private/
/AddMatrices/build/
/MarkovMatrix/nbproject/private/
/MarkovMatrix/build/
/ShuffleMatrix/nbproject/private/
/ShuffleMatrix/build/
/MyStack/nbproject/private/
/W5Stack/nbproject/private/
/W5Stack/build/
/MyStack/build/
/QueueLecture/nbproject/private/
/QueueLecture/build/
/W7Lab/nbproject/private/
/W7Lab/build/
/W7Lab/dist/
